name: Build Docker images

permissions:
  packages: write
  contents: read

on:
  push:

jobs:
  build-docker:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Create version tag
        shell: bash
        run: echo "tag=ghcr.io/openleadr/openleadr-rs:$(git show -s --format="%ct-%h" $GITHUB_SHA)" >> $GITHUB_ENV
      - name: "'main' tag on main branch"
        if: github.ref == 'refs/heads/main'
        run: echo "tag=${{ env.tag }},ghcr.io/openleadr/openleadr-rs:main" >> $GITHUB_ENV
      - name: "explicit release tags & 'latest' tag"
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          REF=${{ github.ref }}
          echo "tag=${{ env.tag }},ghcr.io/openleadr/openleadr-rs:${REF:11},ghcr.io/openleadr/openleadr-rs:latest" >> $GITHUB_ENV
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ./vtn.Dockerfile
          tags: "${{ env.tag }}"
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max